---
  import ProjectCard from "@components/common/ProjectCard.astro"
  import ProjectCardTechCarrousel from "@components/common/ProjectCardTechCarrousel.astro"
	import { getCollection } from 'astro:content'

  const { current } = Astro.props

	let projects = await getCollection('projects')
  // Delete current project
  // FIX: Not working
  projects = projects.filter(p => p.slug !== current.slug)
---

<footer class="flex flex-col items-center justify-center gap-5 max-w-full text-center">
  <h3 class="text-6xl font-bold text-primary">More Projects</h3>
  <section id="moreProjects" class="carrousel-list carrousel flex overflow-x-hidden max-w-full bg-bg-secondary p-7 rounded-xl">
    <div class="flex *:mx-3 items-center">
      {projects.map((project) => (
        <ProjectCard 
          slug={project.slug}
          name={project.data.name} 
          tech={project.data.tech}
          thumbnail={project.data.thumbnail}
          githubName={project.data.githubName}
          loadingStrategy="lazy"
        />
      ))}
    </div>
  </section>
</footer>

<script>
    // Duplicate the list of more projects for the carrousel
    const moreProjects = document.querySelector("#moreProjects") as HTMLElement
    moreProjects.innerHTML += moreProjects.innerHTML
</script>

<ProjectCardTechCarrousel />