---
  import { undefined } from "astro:schema";
  const { primary, secondary, href, class: className, ...rest } = Astro.props;
---

{href ? (
  <a 
    href={href}
    target="_blank"
    class:list={[
      className,
      "stats-card flex flex-col justify-center items-center p-5 py-7 font-bold w-44 xl:w-[12.5rem] text-center rounded-3xl text-pretty aspect-square"
    ]}
    {...rest}
  >
    {primary && (
      <span class="text-7xl xl:text-8xl">{primary}</span>
    )}
    {secondary && (
      <p class="text-lg xl:text-xl leading-5">{secondary}</p>
    )}
    <slot />
  </a>
) : (
  <span 
    class:list={[
      className,
      "stats-card flex flex-col justify-center items-center p-5 py-7 font-bold w-44 xl:w-[12.5rem] text-center rounded-3xl text-pretty aspect-square"
    ]}
    {...rest}
  >
    {primary != undefined && (
      <span class="text-7xl xl:text-8xl">{primary}</span>
    )}
    {secondary != undefined && (
      <p class="text-lg xl:text-xl leading-5">{secondary}</p>
    )}
    <slot />
  </span>
)}