---
  const { name, class: className, loading="lazy", ...rest } = Astro.props;

  import { Image } from "astro:assets"

  const icon = await import(`../../assets/TechIcons/${name}.svg`).catch(e => null)

  const titleName: Record<string, string> = {
    "astro"     : "Astro",
    "bootstrap" : "Bootstrap 5",
    "c"         : "C",
    "css"       : "CSS",
    "docker"    : "Docker",
    "electron"  : "Electron",
    "figma"     : "Figma",
    "firebase"  : "Firebase",
    "html"      : "HTML",
    "javascript": "Javascript",
    "jquery"    : "JQuery",
    "laravel"   : "Laravel",
    "mongo"     : "MongoDB",
    "node"      : "NodeJS",
    "php"       : "PHP",
    "python"    : "Python",
    "tailwind"  : "TailwindCSS",
    "vercel"    : "Vercel",
  }
---

{icon ? (
  <span class="relative select-none">
    <Image loading={loading} class:list={['z-20 relative', className]} src={icon.default} alt={name} title={name in titleName ? titleName[name] : name} />
    <Image loading={loading} class:list={['absolute top-0 blur-xs z-10 opacity-60', className]} src={icon.default} alt={name} />
  </span>
) : (
  <p>Icon not Found</p>
)}
